#frame-top{
    background-color: black;
    height:40px;
    position:fixed;
    width:100vw;
    top:0px;
    left:0px;
    z-index:99;
}

#frame-bottom{
    background-color: black;
    height:40px;
    bottom:0px;
    left:0px;
    position:fixed;
    width:100vw;
    z-index:99;
}

#frame-left{
    background-color: black;
    height:100vh;
    top:0px;
    left:0px;
    position:fixed;
    width:40px;
    z-index:99;
}

#frame-right{
    background-color: black;
    height:100vh;
    right:0px;
    top:0px;
    position:fixed;
    width:40px;
    z-index:99;
}

#canvas-1{
    position:fixed;
    top:40px;
    left:40px;
    width:100vw;
    height:100vh;
    background-color: red;
    /* z-index:1; */
}
